
.description_block {
    width: 1117px;
    height: 560px;
}
.description_image {
    width: 477px;
    height: 504px;
    background-image: url(./blocks/description_block/description_image.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.description_text {
    width: 475px;
    height: 310px;
}