
.description_block {
    margin: 5% auto;
    width: 1117px;
    height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    background-image: url(./blocks/description_block/description_image.png);
    background-repeat: no-repeat;
    background-position: left;
}
.description_text {
    display: inline-block;
    margin-left: 50%;
    margin-top: 10%;
    width: 475px;
    height: 310px;
}
.description_title {
    font-weight: bold;
    font-size: 40px;
    color: #212353;
}
.description_p {
    font-size: 18px;
    color: #4B5D68;
}

@media screen and (max-width: 1200px) {
    .description_block {
        width: 95%;
    }
    .description_text {
        text-align: center;
        width: 300px;
        height: 310px;
        margin-left: 60%;
        margin-top: 5%;
    }
}
@media screen and (max-width: 850px) {
    .description_block {
        align-items: center;
        margin: auto;
        display: flex;
        background-image: none;
        height: 500px;
    }
    .description_text, .description_title, .description_p {
        align-items: center;
        margin: auto;
    }
    
}