@font-face {
	font-family: 'QuicksandB';
	src: url('./fonts/Quicksand-Bold.eot');
    src: local('☺'), url('./fonts/Quicksand-Bold.woff') format('woff'), 
    url('./fonts/Quicksand-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'QuicksandR';
	src: url('./fonts/Quicksand-Regular.eot');
    src: local('☺'), url('./fonts/Quicksand-Regular.woff') format('woff'), 
    url('./fonts/Quicksand-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

%fontSand {
    font-family: 'QuicksandR';
  }
  
%fontSandBold {
    font-family: 'QuicksandB';
  }

