.sim-slider
  ul.sim-slider-list
    li
      img(src='http://pvbk.spb.ru/inc/slider/imgs/no-image.gif' alt='screen')
    // это экран
    li.sim-slider-element
      img(src='http://pvbk.spb.ru/inc/slider/imgs/planet0.jpg' alt='0')
    li.sim-slider-element
      img(src='http://pvbk.spb.ru/inc/slider/imgs/planet1.jpg' alt='1')
    li.sim-slider-element
      img(src='img/print_out.png' alt='2')
    li.sim-slider-element
      img(src='img/print_out.png' alt='3')
    li.sim-slider-element
      img(src='img/print_out.png' alt='4')
    li.sim-slider-element
      img(src='img/print_out.png' alt='5')
  .sim-slider-arrow-left
  .sim-slider-arrow-right
  .sim-slider-dots
