.logo{
    width: 3.0625rem;
    height: 2.1875rem;
}

.logo1 {
    margin-top: 0.875rem;
    float: left;
    width: 1.25rem;
    height: 1.25rem;
    background: #9C69E2;
    border-radius: 1.25rem;
}

.logo2 {
    margin-left: 0.5625rem;
    float: left;
    width: 1.25rem;
    height: 2.1875rem;
    background: #F063B8;
    border-radius: 1.25rem;
}