@import "./styles/fontFace.scss";
@import "./blocks/header/header.scss";
@import "./blocks/button_learn-more/button_learn-more.scss";
@import "./blocks/description_block/description_block.scss";

body {
    @extend %fontSand;
}
.about {
    margin: auto;
    width: 1248px;
    height: 564px;
}

.about_p {
    position: absolute;
}

.about_title {
    width: 645px;
    height: 184px;
    font-size: 80px;
    color: #212353;
}
.about_description {
    width: 380px;
    height: 120px;
    color: #4B5D68;
}

.about_image {
    display: inline-block;
    margin-left: 30%;
    margin-top: 15%;
}
@media screen and (max-width: 1200px) {
    .about_image {
        display: none;
    }
    .about {
        width: 645px;
        text-align: center;
    }
    .about_p {
        position: relative;
    }
    .about_description {
        margin: auto;
    }
}
@media screen and (max-width: 650px) {
    .about_title{
        font-size: 60px;
        position: relative;
    }
    .about_description {
        margin: auto;
    }
}
@media screen and (max-width: 550px) {
    .about {
        width: 400px;
    }
    .about_title {
        font-size: 40px;
        width: 400px;
        height: 100px;
        margin: 0;
    }
    .about_description {
        
        margin: 0;
    }
}
@media screen and (max-width: 400px) {
    .about {
        text-align: left;
        width: 320px;
    }
    .about_title {
        font-size: 30px;
        width: 320px;
        margin: 0;
    }
    .about_description {
        width: 320px;
    }
}