doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Documento

include ./blocks/header/header.pug
h1 помогите
h2 помогите поменьше
h3 вообще маленький помогите жеесть