@import "./styles/fontFace.scss";
@import "./blocks/header/header.scss";
@import "./blocks/button_learn-more/button_learn-more.scss";
@import "./blocks/description_block/description_block.scss";
@import "./blocks/features_block/features_block.scss";
@import "./blocks/rs/slick.scss";
@import "./blocks/rs/slick-theme.scss";
@import "./blocks/slides/slides.scss";


body {
    @extend %fontSand;
}
.about {
    margin: auto;
    width: 1248px;
    height: 650px;
}

.about_p {
    position: absolute;
}

.about_title {
    width: 645px;
    height: 184px;
    font-size: 80px;
    color: #212353;
}
.about_description {
    width: 380px;
    height: 120px;
    color: #4B5D68;
}
.container_about_image {
    width: 1248px;
    height: 650px;
    background-image: url(./blocks/about_image/about_image.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0;
}
.features {
    width: 584px;
    margin: auto;
    text-align: center;
    margin-bottom: 10%;
    .features_title {
        color: #212353;
        font-size: 40px;
        font-weight: bold;
    }
    .features_desc {
        color: #4B5D68;
        font-size: 18px;
    }
}
.features_block {
    margin: auto;
    margin-bottom: 50px;
    width: 1088px;
    height: 993px;
}

@media screen and (max-width: 1200px) {
    .about {
        width: 95%;
    }
    .container_about_image {
        width: 98%;
    }
    .about_p {
        text-shadow: 2px 0px 2px white;
    }
}
 @media screen and (max-width: 950px) {
    .container_about_image {
        background-size: contain;
    }
} 
@media screen and (max-width: 850px) {
    .about_p {
        margin: auto;
    }
}
@media screen and (max-width: 650px) {
    .about {
        border-radius: 50px;
        padding: 30px 0;
        margin: 20px auto;
        height: auto;
    }
    .about_p  {
        position: relative;
        text-align: center;

    }
    .about_title {
        font-size: 50px;
        width: 95%;
        height: auto;
        margin: auto;
        
    }
    .container_about_image {
        background-image: none;
    }
    .about_description {
        margin: 10px auto;
        height: 95%;
        width: 95%;
    }
    .container_about_image {
        margin: 0;
        width: 0;
        height: 0;
    }
    
}
.testimonials_block {
    padding: 40px;
    margin: auto;
    width: 900px;
    height: 350px;
    background: rgba(156, 105, 226, 0.5);
    border-radius: 50px;
}
.testimonials_title {
    margin: auto;
    text-align: center;
    font-size: 40px;
    width: 405px;
    height: 52px;
    color: #ffffff;
}
.slider {
    margin: auto;
}
.slick-list{
    margin: auto;
    width: 600px;
    height: 330px;
} 
.slick-arrow {
    margin: auto;
}
.slick-slide {
    margin: 0 10px;
}