header {
    max-width: 1120px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    align-items: center;
}

