include ../button_demo/button_demo.pug
include ../logo/logo.pug
include ../menu/menu.pug

header
    +logo()
    +list([{href:'#',text:'About'},{href:'#',text:'Help'},{href:'#',text:'Features'},{href:'#',text:'Signup'}])
    +button_demo("Request Demo ▶")
    